/* 
cd /c/Users/Public/BUT_Info/Github/EncyclopedieDuCrochet
git pull

    changer page

git add /c/Users/Public/BUT_Info/Github/EncyclopedieDuCrochet
git commit -m "message"
git push 
*/

body {
    --white: white;
    --black: black;
    --header_color: tomato;

    --header_height: 80px;
    --logo_height_hover: 90px;
    --regroupe_width: 20%;
    --secondaire_height: 4vw;


    margin: 0;
}


header {
    width: 100%;
    height: var(--header_height);
    background-color: var(--header_color);

    position: fixed;
    display: flex;
    justify-content: space-evenly;
}

.logo {
    height: var(--header_height);
    position: absolute;
    top: 0;
    left: 0;
}

.logo:hover {
    transition: 0.5s;
    height: var(--logo_height_hover);
}

header>.vide {
    margin-left: var(--header_height);
}

.vide {
    height: var(--header_height);
}

.regroupe {
    width: var(--regroupe_width);
}

.regroupe:hover {

    transition: 5s;

    .primaire {
        color: var(--white);
        border: 1px solid var(--white);
    }

    .secondaire {
        display: block;
        height: var(--secondaire_height);
        width: 100%;
    }

}

.primaire {
    height: 100%;
    width: 100%;
    background-color: var(--header_color);
    border: none;
}


.secondaire {
    display: none;
    background-color: var(--header_color);
    border: none;
    text-align: left;

}

.secondaire:hover {

    background-color: var(--white);
    text-indent: 8%;
}

.point {
    border: solid 2px aqua;
    padding-top: 40px;
}

.point:nth-child(2n) {
    .dispo_txt_img {
        flex-direction: row-reverse;
    }
}

.titre {
    height: 50px;

    border: 2px red;

}

.dispo_txt_img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.illustration {
    width: 45%;
    border: solid 2px green;
}

.illustration>img {
    width: 100%;
}

.txt {
    height: 50px;
    width: 45%;
    border: solid 2px purple;

}

.remontePage {
    width: 5%;
    display: flex;
    position: sticky;
    margin-left: 95%;
    bottom: 0%;
}

.remontePage>img {
    width: 100%;
}

footer {
    height: var(--header_height);
    background-color: var(--header_color);
}

.copyright {
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
    color: var(--white);
    font-size: 15px;
}