/* 
cd /c/Users/Public/BUT_Info/Github/EncyclopedieDuCrochet
git pull

    changer page

git add /c/Users/Public/BUT_Info/Github/EncyclopedieDuCrochet
git commit -m "message"
git push 
*/

body {
    --white: white;
    --black: black;

    --header_color: #ecd327;
    --txt_background: #c5af20;
    --img_background: #eed743;

    --header_height: 80px;
    --panorama_height: 200px;
    --regroupe_width: 20%;
    --secondaire_height: 4vw;

    --logo_height_hover: 95px;
    --logo_margin_hover: -7.5px;
    /* = (header_height-logo_height_hover)/2 */

    /* MEDIA  */

    --media_secondaire_hover_height: 19%;
    --media_secondaire_debutant_hover_height: 16%;
    --media_secondaire_qualifie_hover_height: 30%;

    /* MEDIA */


    --primaire_font_size: 20px;
    --secondaire_font_size: 14.5px;
    --titre_page_font_size: 2.7vw;
    --header_police: Georgia, serif;

    --transition_rapide: 0.25s;
    --transition_normal: 0.5s;

    margin: 0;
    font-family: var(--header_police);
}


/* HEADER */


header {
    width: 100%;
    height: var(--header_height);
    background-color: var(--header_color);

    position: fixed;
    display: flex;
    justify-content: space-evenly;
}

.logo {
    height: var(--header_height);
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.logo:hover {
    transition: var(--transition_normal);
    height: var(--logo_height_hover);
    top: var(--logo_margin_hover);
    left: var(--logo_margin_hover);
}

header>.vide {
    margin-left: var(--header_height);
}

.vide {
    height: var(--header_height);
}

.regroupe {
    width: var(--regroupe_width);
    font-family: var(--header_police);
}

.regroupe:hover {

    .primaire {
        transition: var(--transition_rapide);
        color: var(--white);
        /* border: 1px solid var(--white); */
    }

    .secondaire {
        transition: var(--transition_rapide);
        display: block;
        height: var(--secondaire_height);
        width: 100%;
        font-size: var(--secondaire_font_size);
    }

}

.regroupe div,
#accueil {
    cursor: pointer;
}

.primaire {
    height: 100%;
    width: 100%;
    text-align: center;
    align-content: center;
    background-color: var(--header_color);

    font-size: var(--primaire_font_size);
}

#accueil {
    height: 0;
    font-size: 0;
    display: none;
}

#accueil:hover {
    transition: var(--transition_rapide);
    color: var(--white);
}

.secondaire {
    background-color: var(--header_color);
    border: none;
    align-content: center;
    text-align: left;
    text-indent: 3.5%;
    height: 0;
    font-size: 0;
}

.secondaire:hover {
    background-color: var(--white);
    text-indent: 9%;
    transition: var(--transition_rapide);

}


/* BODY */


.titre_page {
    height: var(--header_height);
    align-items: center;

    display: flex;
    justify-content: space-evenly;
}

.titre_page span {
    font-family: var(--header_police);
    font-size: var(--titre_page_font_size);
    font-weight: bold;
}

.panorama {
    width: 100%;
}

.panorama>img {
    width: 100%;
    height: var(--panorama_height);

    object-fit: cover;
}

.histoire {
    background-image: url("img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.histoire>.dispo_txt_img:nth-child(2n) {
    flex-direction: row-reverse;
}

.dispo_txt_img:nth-child(1) {
    padding-top: 5%;
}

.dispo_txt_img {
    padding-left: 4%;
    padding-right: 4%;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.illustration {

    width: 50%;
    height: 100%;
    background-color: var(--img_background);

}

.illustration>img {
    width: 100%;
}

.dispo_txt_img:hover {

    .txt {
        transition: var(--transition_rapide);
        width: 45%;
        padding: 2%;
        background-color: var(--txt_background);
    }

    .txt h1 {
        margin-left: 4%;
        font-size: 2.2vw;
    }

    .txt>#first {
        text-indent: 2.5vw;
    }

    .txt p {
        font-size: 2vw;
    }
}

.txt {
    font-size: 0;
    width: 0%;
}

.remontePage {
    width: 9%;
    display: flex;
    position: sticky;
    margin-left: 91%;
    bottom: 0%;
}

.remontePage>img {
    width: 100%;
    cursor: pointer;
}


/* FOOTER */


footer {
    height: var(--header_height);
    background-color: var(--header_color);
}

.copyright {
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
    color: var(--white);
    font-size: 11px;
}

@media (max-width:700px) {

    header {
        position: relative;
        flex-direction: column;
    }

    .logo {
        display: none;
    }

    #accueil {
        display: block;
        width: var(--regroupe_width);
        font-size: var(--primaire_font_size);
        height: 100%;
    }

    .vide#vide_header {
        display: none;
    }

    .regroupe {
        width: 100%;
    }

    .regroupe:hover {

        .primaire {
            height: var(--innexistant);
        }

        .secondaire#debutant {
            height: var(--media_secondaire_debutant_hover_height);
        }

        .secondaire#qualifie {
            height: var(--media_secondaire_qualifie_hover_height);
        }

        .secondaire {
            height: var(--media_secondaire_hover_height);
        }
    }

    .primaire,
    .secondaire,
    #accueil {
        width: 100%;
    }

    .primaire {
        height: 100%;
    }

    .secondaire {
        text-indent: 41.5%;
    }

    .secondaire:hover {
        text-indent: 44%;
    }

    .vide#vide_body {
        height: 110px;
    }
}

@media (min-width:1000px) {

    .histoire {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }

    .dispo_txt_img:nth-child(1) {
        padding-top: 0;
    }

    .dispo_txt_img {
        width: 350px;
        flex-direction: column-reverse;

    }

    .histoire>.dispo_txt_img:nth-child(2n) {
        flex-direction: column-reverse;
    }


    .illustration {
        width: 100%;
    }

    .illustration>img {
        margin: 0;
    }


    .dispo_txt_img:hover {

        transition: 0s;

        .illustration {
            display: none;
        }

        .txt {
            transition: 0s;

            color: var(--white);
            /* background-color: transparent; */
            width: 96%;
            height: 100%;
            margin-right: 20%;

            h1 {
                font-size: 25px;
            }

            p {
                font-size: 18px;
            }
        }

    }

}