/* 
cd /c/Users/Public/BUT_Info/Github/EncyclopedieDuCrochet
git pull

    changer page

git add /c/Users/Public/BUT_Info/Github/EncyclopedieDuCrochet
git commit -m "message"
git push 
*/


body {
    --white: white;
    --black: black;

    --header_height: 80px;
    --regroupe_width: 20%;
    --secondaire_height: 4vw;


    margin: 0;
}


header {
    width: 100%;
    height: var(--header_height);
    background-color: tomato;

    position: fixed;
    display: flex;
    justify-content: space-evenly;
}

header>img {
    height: var(--header_height);
    position: absolute;
    top: 0;
    left: 0;
}

header>.vide {
    margin-left: var(--header_height);
}

.vide {
    height: var(--header_height);
}

.regroupe {
    width: var(--regroupe_width);
}

.regroupe:hover {

    .secondaire {
        display: block;
        width: 100%;
    }

}

.primaire {
    height: 100%;
    width: 100%;
}

.secondaire {
    display: none;
}

.secondaire {
    height: var(--secondaire_height);
}

.secondaire:hover {

    .secondaire {
        background-color: var(--white);
    }
}

.point {
    border: solid 2px aqua;
    padding-top: 40px;
}

.point:nth-child(2n) {
    .dispo_txt_img {
        flex-direction: row-reverse;
    }
}

.titre {
    height: 50px;
}

.dispo_txt_img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.illustration {
    width: 45%;
    border: solid 2px green;
    height: 100%;
}

.illustration>img {
    width: 100%;
}

.illustration>iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.txt {
    height: 50px;
    width: 45%;
    border: solid 2px purple;

}

.remontePage {
    width: 5%;
    display: flex;
    position: sticky;
    margin-left: 95%;
    bottom: 0%;
}

.remontePage>img {
    width: 100%;
}

footer {
    height: var(--header_height);
    background-color: tomato;
}

.copyright {
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
    color: var(--white);
    font-size: 15px;
}